.button {
  background-color: white;
  border: 2px solid lightgray;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
